
<div class="content" role="main">
    <div class='flex-container'>
        <div id='player-info' class='panel'>
            <p>{{displayName}}</p>
            <img id='img-pic' src="{{imgUrl}}" alt="">
        </div>
    
        <div class='panel' id='mentions-stream'>
            <div id='show-empty' *ngIf='showEmpty'>
                {{displayName}} has not been mentioned on r/NBA.
            </div>
            <p class='error' *ngIf='showError'>
				Sorry, unable to load r/NBA Mentions data at the moment.
				<br> 
				Please try again later.
			</p>
            <div class='mention-comment' *ngFor='let m of mentions'>
                <a class='author' target='blank' href='https://old.reddit.com/user/{{m.author}}'>{{m.author}}</a>
                <p>{{m.comment}}</p>
                <span>{{m.published}}</span>
                <a href="{{m.link}}" target='blank'>Comment Link</a>
            </div>
            <div *ngIf='showLoading' class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>
