
<div class="content" role="main">
    <div class='flex-container'>
        <div id='player-info' class='panel'>
            <p>{{displayName}}</p>
            <img id='img-pic' src="{{imgUrl}}" alt="">
            <br>    
            <div>
                <select (change)='updateDuration($event)'>
                    <option selected value='hour'>past hour</option>
                    <option value="day">past 24 hours</option>
                    <option value="week">past week</option>
                    <option value="month">past month</option>
                    <option value="year">past year</option>
                    <option value="alltime">all time</option>
                </select>
            </div>
        </div>
    
        <div class='panel' id='mentions-stream'>
            <div id='show-empty' *ngIf='showEmpty'>
                No mentions for {{displayName}} in the selected time period
            </div>
            <div class='mention-comment' *ngFor='let m of mentions'>
                <a class='author' target='blank' href='https://old.reddit.com/user/{{m.author}}'>{{m.author}}</a>
                <p>{{m.comment}}</p>
                <span>{{m.published}}</span>
                <a href="{{m.link}}" target='blank'>Comment Link</a>
            </div>
            <div *ngIf='showLoading' class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>
