:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #17408B;
    color: white;

    p {
        margin-left: 1em;
        font-weight: bold;
        font-size: 2em;
    }
}

.content {
    display: flex;
    margin: 60px auto 30px;
    padding: 0 16px;
    max-width: 80vw;
    flex-direction: column;
    align-items: center;

    .flex-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 1em;

        #controls {
            flex-grow: 1;
            text-align: right;

            select {
                padding: 0.5em;
                margin-bottom: 1em;
            }
        }

        #chart {
            flex-grow: 2;
            margin-left: 2em;
            margin-right: 2em;
            margin-bottom: 1em;

            .player-row {
                min-width: 40vw;

                hr {
                    width: 100%;
                    border-bottom: 0;
                    margin-top: 0.65em;
                    margin-bottom: 0.65em;
                }

                .chart-player-flex {
                    display: flex;
                    flex-direction: row;

                    .player-name {
                        min-width: 17em;
                        max-width: 17em;

                        p {
                            text-align: left;
                            margin-right: 1em;
                            font-weight: bold;
                            font-size: 1.25em;
                            margin-top: 0em;
                            margin-bottom: 0em;
                        }
                    }
                
                    .bar-flex {
                        display: flex;
                        width: 100%;

                        .mentions-bar {
                            background-color: #C9082A;
                            border-radius: 1em;
                            border: 1px solid black;
                            justify-content: center;

                            p {
                                margin-left: 1em;
                                color: white;
                            }
                        }

                        .player-img {
                            .img-helper {
                                display: inline-block;
                                height: 100%;
                                vertical-align: middle;
                            }

                            img {
                                width: 45px;
                                height: 45px;
                                vertical-align: middle;
                                margin-left: 10px;
                                object-fit: cover;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }

        #list {
            flex-grow: 1;
            p {
                font-size: 1.1em;
                font-weight: 500;
                word-wrap: wrap;
            }
        }
    }
}

@media (max-width: 600px) {
    .content {
        .flex-container {
            #controls {
                text-align: left;
                div {
                    display: inline;
                    margin-right: 1em;
                }
            }

            #chart {
                margin: 0em;
                width: 80vw;

                .player-row {
                    .chart-player-flex {
                        .player-name {
                            min-width: 9em;
                            max-width: 9em;

                            p {
                                font-size: 1em;
                            }
                        }

                        .bar-flex {
                            .mentions-bar {
                                max-height: 2em;
                                min-height: 2em;

                                p {
                                    display: none;
                                }
                            }

                            .player-img {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
