:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #17408B;
    color: white;

    p {
        margin-left: 1em;
        font-weight: bold;
        font-size: 2em;
        white-space: nowrap;
    }
}

#info {
    text-align:center;
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;

    i {
        font-size: 3em;
    }

    i:hover {
        cursor: pointer;
    }
}

@media (max-width: 600px) {
    #info {
        display: none;
    }
}

