<!-- Toolbar -->
<div id="header" role="banner">
	<p>r/NBA Mentions</p>
</div>

<div class="content" role="main">
	<div class='flex-container'>
		<div id='controls'>
			<div>
				<select (change)='updateChart($event)'>
					<option selected value='player'>players</option>
					<option value="team">teams</option>
				</select>
			</div>
			
			<div>
				<select (change)='updateDuration($event)'>
					<option value='hour'>past hour</option>
					<option value="day">past 24 hours</option>
					<option selected value="week">past week</option>
					<option value="month">past month</option>
					<option value="year">past year</option>
					<option value="alltime">all time</option>
				</select>
			</div>
		</div>

		<div id='chart'>
			<div class='player-row' *ngFor='let m of mentionList.slice(0, 9)'>
				<div class='chart-player-flex'>
					<div class='player-info player-name'>
						<p>{{m.name}}</p>
						<p id='mobile-count'>{{m.mentions}}</p>
					</div>

					<div class='bar-flex'>
						<div  class='player-info mentions-bar'>
							<p>{{m.mentions}}</p>
						</div>

						<div  class='player-info player-img'>
							<img [ngStyle]="{'border': (chartType == 'player') ? '1px solid black' : 'none'}" src="{{m.img_url}}"  />
						</div>
					</div>
				</div>
				<hr>
			</div>
		</div>

		<div id='list'>
			<p *ngFor="let m of mentionList.slice(9, 25); let i = index" [attr.data-index]="i">
				{{i+10}}. {{m.name}} ({{m.mentions}})
			</p>
		</div>
	</div>
</div>

<router-outlet></router-outlet>
