<div class="content" role="main">
	<div class='flex-container'>
		<div id='controls'>
			<div>
				<select (change)='updateChart($event)'>
					<option selected value='player'>players</option>
					<option value="team">teams</option>
				</select>
			</div>
			
			<div>
				<select (change)='updateDuration($event)'>
					<option value='hour'>past hour</option>
					<option selected value="day">past 24 hours</option>
					<option value="week">past week</option>
					<option value="month">past month</option>
					<option value="year">past year</option>
				</select>
			</div>

			<div id='search-container'>
				<input type="text" placeholder='Search' (input)='searchName($event)' maxlength='25'>
				<div *ngIf='showSearchResults' class='search-results'>
					<p *ngFor='let res of searchResults' routerLink='/{{res.url_name}}'>{{res.name}}</p>
				</div>
			</div>
		</div>

		<div id='chart'>
            <div *ngIf='showLoading' class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
			<p class='error' *ngIf='showError'>
				Sorry, unable to load r/NBA Mentions data at the moment.
				<br> 
				Please try again later.
			</p>
			<div class='player-row' *ngFor='let m of mentionList.slice(0, 9)'>
				<div class='chart-player-flex'>
					<div class='player-info player-name'>
						<p class='pointer' routerLink='/{{m.url_name}}'>
							{{m.name}}
							<span class='tooltip' *ngIf='m.is_trending	'>
								🔥
								<span class="tooltiptext">{{m.name}} {{chartType == 'team' ? 'are' : 'is'}} getting more mentions than usual right now</span>
							</span>
						</p>
						
						<p id='mobile-count'>{{m.mentions}}</p>
					</div>

					<div class='bar-flex'>
						<div  class='player-info mentions-bar'>
							<p>{{m.mentions}}</p>
						</div>

						<div  class='player-info player-img'>
							<img [ngStyle]="{'border': (chartType == 'player') ? '1px solid black' : 'none'}" src="{{m.img_url}}"  />
						</div>
					</div>
				</div>
				<hr>
			</div>
		</div>

		<div id='list'>
			<p class='pointer' routerLink='/{{m.url_name}}' *ngFor="let m of mentionList.slice(9, 30); let i = index" [attr.data-index]="i">
				{{i+10}}. {{m.name}} ({{m.mentions}})
			</p>
		</div>
	</div>
</div>