<div class="content" role="main">
	<div class='flex-container'>
		<div id='controls'>
			<div>
				<select (change)='updateChart($event)'>
					<option selected value='player'>Players</option>
					<option value="team">Teams</option>
					<option value="poster">Redditors</option>
				</select>
			</div>
			
			<div>
				<select (change)='updateDuration($event)'>
					<option value='hour'>Past hour</option>
					<option selected value="day">Past 24 hours</option>
					<option value="week">Past week</option>
					<option value="month">Past month</option>
					<option value="year">Past year</option>
				</select>
			</div>

			<div id='search-container'>
				<input type="text" placeholder='Search' (input)='searchName($event)' maxlength='25'>
				<div *ngIf='showSearchResults' class='search-results'>
					<p *ngFor='let res of searchResults' routerLink='/{{res.urlName}}'>{{res.name}}</p>
				</div>
			</div>
		</div>

		<div id='chart'>
            <div *ngIf='showLoading' class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
			<p class='error' *ngIf='showError'>
				Sorry, unable to load r/NBA Mentions data at the moment.
				<br> 
				Please try again later.
			</p>
			<div class='player-row' *ngFor='let m of mentionList.slice(0, 9)'>
				<div class='chart-player-flex'>
					<div class='player-info player-name'>
						<p class='pointer' routerLink='/{{m.urlName}}'>
							<span *ngIf="chartType != 'poster'">{{m.name}}</span>
							<span *ngIf="chartType == 'poster'"><a target='blank' href="https://old.reddit.com/user/{{m.name}}">{{m.name}}</a></span>
							<span class='tooltip' *ngIf='m.aboveAvg'>
								🔥
								<span class="tooltiptext">
									{{m.name}}
									{{
										chartType == 'poster' ? ' is posting more' :
										(chartType == 'team' ? 'are' : 'is') + ' getting more mentions'
									}} than usual right now
								</span>
							</span>
						</p>
						
						<p id='mobile-count'>{{m.numPosts.toLocaleString()}}</p>
					</div>

					<div class='bar-flex'>
						<div  class='player-info mentions-bar'>
							<p>{{m.numPosts.toLocaleString()}}</p>
						</div>

						<div  class='player-info player-img'>
							<img *ngIf="m.imgUrl" [ngStyle]="{'border': (chartType == 'player') ? '1px solid black' : 'none'}" src="{{m.imgUrl}}"  />
						</div>
					</div>
				</div>
				<hr>
			</div>
		</div>

		<div id='list'>
			<p class='pointer' routerLink='/{{m.urlName}}' *ngFor="let m of mentionList.slice(9, 30); let i = index" [attr.data-index]="i">
				{{i+10}}. 
				<span *ngIf="chartType != 'poster'" routerLink='/{{m.urlName}}'>{{m.name}}</span>
				<span *ngIf="chartType == 'poster'"><a class='no-decoration' target='blank' href="https://old.reddit.com/user/{{m.name}}">{{m.name}}</a></span>
				({{m.numPosts.toLocaleString()}})
			</p>
		</div>
	</div>
</div>